@import '../../../common/assets/sass/main'
@import 'bulma'

*, *::before, *::after
    box-sizing: border-box

html
    margin: 0 auto
    background-color: var(--tg-color-bg-secondary)
    color: var(--tg-color-font)
    font-family: 'Arial', sans-serif
    padding: 20px 0

.is-link.button
    background-color: var(--tg-color-primary)
    color: var(--tg-color-bg-secondary)

    &:hover
        background-color: var(--tg-color-primary-hover)
        color: var(--tg-color-bg-secondary)
