@import '../../../common/assets/sass/main'

*, *::before, *::after
    box-sizing: border-box

html
    margin: 0 auto
    background-color: var(--tg-color-bg-secondary)
    color: var(--tg-color-font)
    font-family: 'Arial', sans-serif
    padding: 20px 0

