name: tab-guardian

services:
    app:
        image: tab-guardian
        container_name: tab-guardian
        build: .
        volumes:
            - .:/app:Z
        ports:
            - 3000:5173
