:root {
    /* Light theme */
    --tg-color-secondary: theme('colors.gray.100');
    --tg-color-page: #fff;
    --tg-color-page-hover: theme('colors.gray.50');
    --tg-color-border: theme('colors.gray.200');
    --tg-color-font: theme('colors.gray.900');
    --tg-color-font-gray: theme('colors.gray.400');
    --tg-color-primary: theme('colors.cyan.700');
    --tg-color-primary-hover: theme('colors.cyan.800');
    --tg-color-private: #377f7c;
    --tg-color-private-hover: #2d6e6b;
    --tg-color-secondary-scrollbar: #dcdcdc;
    --tg-color-secondary-scrollbar-thumb: #afafaf;
    --tg-color-secondary-private: rgb(78 220 208 / 15%);
    --tg-color-secondary-private-hover: rgb(78 220 208 / 25%);
    --tg-color-secondary-unsecure: rgb(208 78 16 / 20%);
    --tg-color-secondary-unsecure-hover: rgb(208 78 16 / 25%);
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Dark theme */
        --tg-color-secondary: theme('colors.gray.800');
        --tg-color-page: theme('colors.gray.950');
        --tg-color-page-hover: #01030a;
        --tg-color-border: theme('colors.gray.800');
        --tg-color-font: theme('colors.gray.50');
        --tg-color-font-gray: theme('colors.gray.400');
        --tg-color-primary: theme('colors.cyan.400');
        --tg-color-primary-hover: theme('colors.cyan.500');
        --tg-color-private: theme('colors.emerald.400');
        --tg-color-private-hover: theme('colors.emerald.500');
        --tg-color-secondary-scrollbar: #222;
        --tg-color-secondary-scrollbar-thumb: #555;
        --tg-color-secondary-private: rgb(46 225 209 / 10%);
        --tg-color-secondary-private-hover: rgb(46 225 209 / 15%);
        --tg-color-secondary-unsecure: rgb(250 44 2 / 20%);
        --tg-color-secondary-unsecure-hover: rgb(250 44 2 / 25%);
    }
}


