:root {
    /* Light theme */
    --tg-color-secondary: theme('colors.gray.100');
    --tg-color-page: #fff;
    --tg-color-page-hover: theme('colors.gray.50');
    --tg-color-border: theme('colors.zinc.200');
    --tg-color-border-hover: theme('colors.zinc.300');
    --tg-color-font: theme('colors.gray.900');
    --tg-color-font-gray: theme('colors.gray.500');
    --tg-color-primary: theme('colors.cyan.700');
    --tg-color-primary-hover: theme('colors.cyan.800');
    --tg-color-private: #377f7c;
    --tg-color-private-hover: #2d6e6b;
    --tg-color-secondary-scrollbar: #dcdcdc;
    --tg-color-secondary-scrollbar-thumb: #afafaf;
    --tg-color-safe: rgb(78 220 208 / 15%);
    --tg-color-safe-hover: rgb(78 220 208 / 25%);
    --tg-color-unsafe: rgba(220, 78, 78, .15);
    --tg-color-unsafe-hover: rgba(220, 78, 78, .25);
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Dark theme */
        --tg-color-secondary: theme('colors.zinc.800');
        --tg-color-secondary-hover: #232326;
        --tg-color-page: theme('colors.zinc.900');
        --tg-color-page-hover: #151518;
        --tg-color-border: theme('colors.zinc.800');
        --tg-color-border-hover: theme('colors.zinc.700');
        --tg-color-font: theme('colors.gray.50');
        --tg-color-font-gray: theme('colors.gray.400');
        --tg-color-primary: theme('colors.cyan.400');
        --tg-color-primary-hover: theme('colors.cyan.500');
        --tg-color-private: theme('colors.emerald.400');
        --tg-color-private-hover: theme('colors.emerald.500');
        --tg-color-secondary-scrollbar: #222;
        --tg-color-secondary-scrollbar-thumb: #555;
        --tg-color-safe: rgb(46 225 209 / 10%);
        --tg-color-safe-hover: rgb(46 225 209 / 15%);
        --tg-color-unsafe: rgba(225, 46, 46, .2);
        --tg-color-unsafe-hover: rgba(225, 46, 46, .3);
    }
}


