@import 'tailwindcss';
@import 'toastify-js/src/toastify.css';
@import 'tippy.js/dist/tippy.css';

@import './_variables';

.toast-close {
    margin-left: 8px;
}

body {
    font-family: sans-serif;
    font-size: 1rem;
}

.toast-close {
    margin-left: 8px;
}

[data-tippy-root] {
    overflow-wrap: break-word;
}

emoji-picker {
    width: 100%;
    height: 300px;
    --background: transparent;
    --border-color: transparent;
    --border-size: 0;
    --input-padding: 5px 7px;
}

@utility container {
    margin-inline: auto;
    padding-inline: 1rem;
}

@theme {
    --color-page: var(--tg-color-page);
    --color-secondary: var(--tg-color-secondary);
    --color-secondary-hover: var(--tg-color-secondary-hover);
    --color-page-hover: var(--tg-color-page-hover);
    --color-border: var(--tg-color-border);
    --color-border-hover: var(--tg-color-border-hover);
    --color-font: var(--tg-color-font);
    --color-font-gray: var(--tg-color-font-gray);
    --color-primary: var(--tg-color-primary);
    --color-primary-hover: var(--tg-color-primary-hover);
    --color-success: var(--tg-color-success);
    --color-success-hover: var(--tg-color-success-hover);
    --color-danger: var(--tg-color-danger);
    --color-danger-hover: var(--tg-color-danger-hover);
    --color-blue-1000: var(--tg-color-blue);
    --color-orange-1000: var(--tg-color-orange);
    --color-green-1000: var(--tg-color-green);
    --color-safe: var(--tg-color-safe);
    --color-safe-hover: var(--tg-color-safe-hover);
    --color-unsafe: var(--tg-color-unsafe);
    --color-unsafe-hover: var(--tg-color-unsafe-hover);
    --color-folder: var(--tg-color-folder);
    --color-folder-hover: var(--tg-color-folder-hover);
}
