@import 'toastify-js/src/toastify.css';
@import '_variables';

.toast-close {
    margin-left: 8px;
}

.swal2-container {
    position: fixed !important;
}

[data-tippy-root] {
    overflow-wrap: break-word;
}

emoji-picker {
    width: 100%;
    height: 300px;
    --background: transparent;
    --border-color: transparent;
    --border-size: 0;
    --input-padding: 5px 7px;
}

/* Scrollbar for Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.5) #f0f0f0;
}
