:root
    --tg-padding: 12px

    // Light theme styles
    --tg-color-bg: #f8f9fc
    --tg-color-bg-secondary: #fff
    --tg-color-bg-secondary-hover: #f8f8f8
    --tg-color-border: #dee3ed
    --tg-color-font: #2f3237
    --tg-color-font-gray: #858585
    --tg-color-bg-gray: #555
    --tg-color-primary: #427db3
    --tg-color-primary-hover: #3b72a6
    --tg-color-secondary: #377f7c
    --tg-color-secondary-hover: #2d6e6b
    --tg-color-bg-scrollbar: #dcdcdc
    --tg-color-bg-scrollbar-thumb: #afafaf
    --tg-color-bg-private: rgb(78 220 208 / 15%)
    --tg-color-bg-private-hover: rgb(78 220 208 / 25%)
    --tg-color-orange: rgba(255, 196, 140, .6)
    --tg-color-blue: rgba(140, 184, 255, .6)
    --tg-color-green: rgba(108, 243, 166, .6)

@media (prefers-color-scheme: dark)
    :root
        // Dark theme styles
        --tg-color-bg: #2e3239
        --tg-color-bg-secondary: #181a1c
        --tg-color-bg-secondary-hover: #191b1d
        --tg-color-border: #29303d
        --tg-color-font: #dbdbdb
        --tg-color-font-gray: #919191
        --tg-color-bg-gray: #333333
        --tg-color-primary: #5aa5ea
        --tg-color-primary-hover: #4b8fce
        --tg-color-secondary: #5ad2cc
        --tg-color-secondary-hover: #4dbdb8
        --tg-color-bg-scrollbar: #222
        --tg-color-bg-scrollbar-thumb: #555
        --tg-color-bg-private: rgb(46 225 209 / 10%)
        --tg-color-bg-private-hover: rgb(46 225 209 / 15%)
        --tg-color-orange: #a77924
        --tg-color-blue: #245da7
        --tg-color-green: #24a761


