@import 'variables'
@import 'link-item'

*, ::before, ::after
    box-sizing: border-box

html
    background: #15292b

body
    margin: 0
    background: var(--tg-color-bg-secondary)
    color: var(--tg-color-font)
    border: 1px solid var(--tg-color-border)
    width: 330px
    height: 540px
    font-family: 'Arial', sans-serif
    position: relative

.message
    font-size: 1.1rem
    text-align: center
    margin: 20px auto 0 auto
    font-weight: normal
    color: var(--tg-color-font-gray)